.main{
    border: 2px solid gray;
    width: 250px;
    margin: 0 auto;
}
.result{
    width: 97%;
    background-color: rgb(202, 199, 199);
    color: black;
}
.updatebtn{
    margin: 1px;
    background-color: grey;
    width: 31%;
}
.btn{
    background-color: grey;
    width: 57px;
    margin: 1px;
}
#equal{
    background-color: green;
}
#clean{
    background-color: red;
}